@import "tailwindcss";
@import '@smastrom/react-rating/style.css';
@plugin "daisyui" {
     themes: light --default, dark --prefersdark;
}

@theme {
     --color-main: #5685CE;
     --color-second:#F5F6F9;
     --color-main-light: #5685ce6b;
     --color-main-dark: #3c629d;
     /* ... */
}

body{
     overflow-x: hidden;
}

.swiper {
     width: 100%;
     height: 100%;
}

.bg1{
position: absolute;
     bottom: -100px;
     left: 50%;
     transform: translateX(-50%);
}
.bg2{
position: absolute;
     bottom: -140px;
     left: 50%;
     transform: translateX(-50%);
     z-index: -1;
}

._border_onfocus_react_number_formatter_1aez4_13{
     box-shadow: 0px 0px 0px 0px #F5F6F9 !important;
     border:2px solid #000000  !important;
     padding: 10px;
}

._react_number_formatter_form_1aez4_1{
     border: 1px solid oklch(0.872 0.01 258.338) !important;
     box-shadow: 0px 0px 0px 0px #F5F6F9 !important;
     padding: 5px;
     border-radius: 10px !important;
     background: white;
}

._react_number_formatter_form_1aez4_1:has(> input:focus),
._react_number_formatter_form_1aez4_1:has(> label:active){
     border: 1px solid #5685CE !important;
}


