@import "tailwindcss";
@import '@smastrom/react-rating/style.css';
@plugin "daisyui" {
     themes: light --default, dark --prefersdark;
}

@theme {
     --color-main: #5685CE;
     --color-second:#F5F6F9;
     --color-main-light: #5685ce6b;
     --color-main-dark: #3c629d;
     /* ... */
}

body{
     overflow-x: hidden;
}

.swiper {
     width: 100%;
     height: 100%;
}

.bg1{
position: absolute;
     bottom: -100px;
     left: 50%;
     transform: translateX(-50%);
}
.bg2{
position: absolute;
     bottom: -140px;
     left: 50%;
     transform: translateX(-50%);
     z-index: -1;
}

